{{! Template for the frost-detail-tab component }}

<span class='frost-detail-tab-text'>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{tab.label}}
    {{#if tab.isClosable}}
      <div class='frost-detail-tab-close'>
        {{frost-button
          size='small'
          icon='round-close'
          hook='frost'
          onClick=(action closeClickedTab tab.id)
        }}
      </div>
    {{/if}}
  {{/if}}
</span>
